.pie-chart-from-users {
  width: 300px;
  border-style: solid;
}

.header-main-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

thead, tbody { display: block; }

tbody {
    height: 200px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}


tr th label input {
  width: 50px;
  height: 30px;
}

tr th label p {
  width: 50px;
  
}
